html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif; */

body{
    margin: 0;
    font-family: Open Sans;
    background-color: black;
    color: white;
}
a{
    color: white;
}
a:hover{
    color: coral;
}
a.title {
    display: flex;
    margin: 10px auto;
    font-family: Raleway;
    font-size: 40px;
    font-weight: bolder;
    color: coral;
    justify-content: center;
}
nav{
    font-family: Raleway;
    font-weight: bold;
    margin: 15px auto 25px;
    display: flex;
}
nav ul{
    display: inline;
    margin: 0 auto;
    align-content: center;
    padding: 0px;
}
nav li {
   display: inline;
   margin: 0 auto;
   font-size: 16px;
   padding: 20px;
   align-content: center;
}
nav.li-submenu{
    position: relative;
    display: block;
}
nav ul.submenu{
    display: none;
    position: absolute;
}
nav ul li:hover .submenu {
    display: block;
    color: white;
    transition: all .3s;
}
.banner{
    background-image: url("../images/banner.jpg");
    height: 35vh;
    background-position: center bottom;
    background-repeat: no-repeat; 
    background-size: cover;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    overflow: hidden;
}
nav ol li {
    display: inline;
    margin: 0 auto;
    font-size: 12px;
    padding: 5px;
    align-content: center;
}
.receta-return {
    color: gainsboro;
}
.container-receta {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
img {
    border-radius: 25px;
}

.social-media {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.social-media li {
    margin: 10px 0 10px;
}