html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif; */

h1{
    margin-top: 10px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: bolder;
    color: coral;
    text-align: center;
}
nav{
    font-family: Raleway;
    font-weight: bold;
    margin: 15px auto;
    display: flex;
}
.hide{
    display: none;
}

nav ul{
    display: inline;
    margin: 0 auto;
    align-content: center;
    padding: 0px;
}
nav li {
   display: inline;
   margin: 0 auto;
   font-size: 16px;
   padding: 20px;
   align-content: center;
}
.container1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.img1{
    width: 25%;
    height: auto;
    overflow: hidden;
    margin: 5px;
}